.about-us__title {
  position: relative;
  margin: 0;
  padding-left: 30px;
  padding-bottom: 88px;

  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  &::before {
    content: "";

    position: absolute;
    top: -34px;
    left: -30px;

    width: 319px;
    height: 6px;

    background: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-size: 102%;
  }
}

.about-us__list {
  padding: 0;
  margin: 0;
}

.about-us__item {
  position: relative;
  margin-bottom: 85px;

  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-align: left;

  &:last-child {
    margin-bottom: 61px;
  }
}

.about-us__item-icon {
  position: absolute;

  &:first-child {
    top: -40px;
    left: 8px;
  }

  &:nth-child(2) {
    top: -40px;
    left: 0;
  }

  &:nth-child(3) {
    top: -43px;
    left: 7px;
  }

  &:nth-child(4) {
    top: -40px;
    left: 3px;
  }

  &:nth-child(5) {
    top: -50px;
    left: -6px;
  }

  &:nth-child(6) {
    top: -43px;
    left: 3px;
  }
}

.about-us__item-icon path {
  fill: #63d1bb;
}


@media (min-width: $tablet-width) {
  .about-us__title {
    padding-left: 0;
    padding-bottom: 100px;

    font-weight: bold;
    font-size: 43px;
    line-height: 50px;

    &::before {
      content: "";

      position: absolute;
      top: -60px;
      left: -50px;

      width: 771px;
      height: 15px;

      background: url("../img/bg-zigzag-line.svg");
      background-repeat: no-repeat;
      background-size: 101%;
    }
  }

  .about-us__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  .about-us__item {
    width: 280px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 113px;

    font-weight: bold;
    font-size: 20px;
    line-height: 22px;

    &:nth-child(2n+1) {
      margin-right: 55px;
    }

    &:nth-child(1) {
      order: 0;
    }

    &:nth-child(2) {
      order: 2;
      margin-right: 55px;
    }

    &:nth-child(3) {
      order: 4;
    }

    &:nth-child(4) {
      order: 1;
    }

    &:nth-child(5) {
      order: 3;
      margin-right: 0;
    }

    &:nth-child(6) {
      order: 5;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us__title {
    margin-bottom: 2px;
    margin-left: 175px;

    font-weight: bold;
    font-size: 53px;
    line-height: 57px;

    &::before {
      content: "";

      position: absolute;
      top: -60px;
      left: -200px;

      width: 1050px;
      height: 23px;

      background: url("../img/bg-zigzag-line.svg");
      background-repeat: no-repeat;
      background-size: 101%;
    }
  }

  .about-us__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin-left: 175px;
  }

  .about-us__item {
    &:nth-child(5) {
      width: 295px;
    }
  }
}
