.catalog-list {
  margin: 0;
  padding: 0;
}

.catalog-item {
  margin-bottom: 30px;

  border: 1px solid #ececec;
}

.catalog-item__image {
  margin-bottom: 16px;
}

.second-card .catalog-item__image {
  margin-bottom: 12px;
}

.catalog-item__info {
  margin-left: 28px;
}

.catalog-item__title {
  margin: 0;
  margin-bottom: 5px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.catalog-item__details {
  margin: 0;
  margin-bottom: 41px;

  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
}

.catalog-item__price {
  margin: 0;
  position: relative;

  font-size: 15px;
  line-height: 24px;
  font-weight: bold;

  &::after {
    content: "";

    position: absolute;
    top: -24px;
    left: 0;

    width: 204px;
    height: 1px;

    background-color: #f1f1f1;
  }
}

.catalog-item__action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 28px;
  margin-right: 28px;
  width: 210px;
  margin-bottom: 24px;
}

.catalog-item__button {
  margin-left: 30px;
  border: none;
  align-self: center;

  background: transparent;
}

.catalog-item__icon:hover path {
  fill: #63d1bb;
}

.catalog-item__icon:active path {
  fill: rgba(70, 193, 174, 0.3);
}

@media (min-width: $tablet-width) {
  .catalog-list {
    padding-left: 0;
    padding-right: 0;
  }

  .catalog-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 29px;
  }

  .catalog-item__title {
    margin: 0;
    padding-bottom: 5px;
    padding-top: 25px;

    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }

  .third-card__title {
    width: 205px;
  }

  .catalog-item__details {
    margin-bottom: 170px;

    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: #444444;
  }

  .catalog-item__action {
    margin-left: 32px;
    margin-right: 32px;
    min-width: 276px;
  }

  .catalog-item__price {
    padding-top: 27px;
    padding-bottom: 29px;
    margin: 0;

    font-weight: bold;
    font-size: 17px;
    line-height: 24px;

    &::after {
      content: "";

      position: absolute;
      top: 5px;
      left: 0;

      width: 268px;
      height: 1px;

      background-color: #f1f1f1;
    }
  }

  .third-card__price {
    padding-bottom: 0;
    padding-top: 26px;
  }

  .third-card__details {
    margin-bottom: 145px;
  }

  .third-card__button {
    margin-top: 26px;
  }

  .catalog-item__image {
    height: 334px;
  }

  .catalog-item__picture {
    width: 334px;
    height: 334px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }

  .catalog-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 48px;
    margin-bottom: 54px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:hover {
      box-shadow: 0px 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .catalog-item__profile {
    min-width: 257px;
    margin-left: 25px;
  }

  .catalog-item__image {
    height: 462px;
    margin-bottom: 0;
  }

  .second-card .catalog-item__image {
    margin-bottom: 0;
  }

  .catalog-item__picture {
    width: 316px;
    height: 462px;
    margin: 0;
    margin-bottom: 29px;
  }

  .catalog-item__title {
    width: 232px;

    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    &:focus {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  .catalog-item__info {
    margin: 0;
  }

  .catalog-item__details {
    margin-bottom: 71px;

    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: #444444;
  }

  .third-card__details {
    margin-bottom: 47px;
  }

  .catalog-item__action {
    margin: 0;
    margin-top: -26px;
  }

  .catalog-item__price {
    padding-top: 15px;
    padding-bottom: 29px;
    margin: 0;

    font-weight: bold;
    font-size: 17px;
    line-height: 24px;

    &::after {
      content: "";
      position: absolute;
      top: -7px;
      left: 0;
      width: 256px;
      height: 1px;
      background-color: #f1f1f1;
    }
  }

  .catalog-item__button {
    margin: 0;
    margin-right: 12px;
    margin-top: -11px;
  }
}
