.catalog-list {
  margin: 0;
  padding: 0;

  padding-left: 30px;
  padding-right: 28px;
}

.catalog-item {
  margin-bottom: 30px;

  border: 1px solid #ececec;
}

.catalog-item__info {
  margin-left: 28px;
}

.catalog-item__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.catalog-item__details {
  margin: 0;

  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
}

.catalog-item__price {
  margin-right: 112px;

  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

.catalog-item__action {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 28px;
}

.catalog-item__button {
  align-self: center;
}
