.contacts {
  margin-bottom: 37px;
}

.contacts__heading {
  position: relative;
  margin-bottom: 26px;

  font-weight: bold;
  font-size: 18px;
  line-height: 30px;

  &::before {
    content: "";

    position: absolute;
    top: -44px;
    left: -30px;

    width: 319px;
    height: 6px;

    background: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-size: 102%;
  }
}

.contacts__phone-heading {
  margin-bottom: 8px;
}

.contacts__email-heading {
  margin-bottom: 5px;
}

.contacts__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contacts__item {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.contacts__item-name {
  margin-right: 27px;
}

.contacts__phone-number .input__field {
  padding-bottom: 10px;
}

.contacts__item--email {
  position: relative;
  margin-bottom: 28px;

  &::after {
    content: "";

    position: absolute;
    bottom: 2px;
    left: 0;

    width: 185px;
    height: 2px;

    background-color: #63d1bb;

    &:active {
      color: rgba(70, 193, 174, 0.3);
    }
  }

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);
  }

  &:active::after {
    background-color: rgba(70, 193, 174, 0.3);
  }
}

.contacts__item--address {
  width: 170px;
}

.map {
  width: 320px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 40px;
}

.map__pin {
  position: absolute;
  top: 28%;
  left: 45%;
}

.map__item {
  margin-bottom: 26px;
  margin-left: -30px;
}

.map__image {
  width: 352px;
  height: 457px;
}

.map__button--submit {
  padding: 15px 53px;

  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}


@media (min-width: $tablet-width) {
  .contacts {
    position: relative;
    width: 768px;
    margin: 0 auto;
    margin-bottom: 55px;

    &::after {
      content: "";

      position: absolute;
      top: -17px;
      right: 52px;

      width: 47px;
      height: 81px;
      background: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
    }
  }

  .contacts__heading {
    margin-bottom: 48px;

    font-size: 43px;
    line-height: 50px;

    &::before {
      content: "";

      position: absolute;
      top: -80px;
      left: -50px;

      width: 771px;
      height: 15px;

      background: url("../img/bg-zigzag-line.svg");
      background-repeat: no-repeat;
      background-size: 101%;
    }
  }

  .contacts__item {
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__item-name {
    margin-right: 20px;
  }

  .contacts__item--email {
    margin-right: 50px;

    &::after {
      content: "";

      position: absolute;
      bottom: 32px;
      left: 3px;

      width: 200px;
      height: 1px;

      background-color: #63d1bb;
    }
  }

  .contacts__item--address {
    width: 219px;
  }

  .map {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 768px;
    margin: 0 auto;
    margin-bottom: 56px;
  }

  .map__item {
    margin-right: -100px;
  }

  .map__image {
    width: 768px;
    height: 457px;
    margin-bottom: 16px;
    margin-left: -100px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("img/map-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  .map__button--submit {
    margin-left: 170px;
    padding: 15px 38px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    width: 1150px;
    margin: 0 auto;
    padding-left: 223px;
    margin-bottom: 81px;

    &::after {
      content: none;
    }
  }

  .map {
    display: block;
    width: 1150px;
    margin: 0 auto;
    margin-bottom: 104px;
  }

  .map__item {
    position: absolute;
    bottom: -54px;
    right: 150px;
  }

  .map__image {
    width: 525px;
    height: 457px;

    background-size: cover;
  }

  .contacts__heading {
    font-size: 53px;
    line-height: 57px;

    &::before {
      content: "";

      position: absolute;
      top: -165px;
      left: -200px;

      width: 1050px;
      height: 23px;

      background: url("../img/bg-zigzag-line.svg");
      background-repeat: no-repeat;
      background-size: 101%;
    }

    &::after {
      content: "";

      position: absolute;
      top: -10px;
      left: -110px;

      width: 47px;
      height: 81px;
      background: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
    }
  }

  .contacts__list {
    display: flex;
    flex-direction: row;
    width: 315px;
  }

  .contacts__item-name {
    margin-right: 25px;
  }

  .contacts__item--email {
    margin-right: 0;
  }

  .contacts__item--email::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 200px;
    height: 1px;
    background-color: #63d1bb;
  }

  .map__button--submit {
    margin-left: 124px;
  }
}
