.form__item--type {
  margin-bottom: 45px;
}

.form__heading--type {
  margin-bottom: 33px;
}

.filters-type {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.filters__list-item {
  font-size: 17px;
  line-height: 18px;
}

.filters-type__radio {
  position: relative;
}

.radio-indicator {
  &::before {
    content: "";
    position: absolute;
    left: -61px;
    top: -9px;
    width: 35px;
    height: 35px;
    border: 2px solid black;
    border-radius: 50%;
  }

  &:hover::before {
    border: 2px solid #62d1ba;
  }

  &:active::before {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }
}

.filters-type__radio input[type="radio"]:checked + .radio-indicator::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -50px;
  width: 17px;
  height: 17px;
  background-color: #62d1ba;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .form__item--type {
    margin-bottom: 66px;
  }

  .filters__list-item {
    margin-top: 8px;

    font-size: 19px;
    line-height: 18px;
  }

  .type__wrapper {
    display: flex;
  }

  .filters-type {
    margin-bottom: 58px;
  }

  .radio-indicator {
    &::before {
      content: "";
      position: absolute;
      left: -79px;
      top: -12px;
      width: 50px;
      height: 50px;
      border: 2px solid black;
      border-radius: 50%;
    }
  }

  .filters-type__radio input[type="radio"]:checked + .radio-indicator::after {
    content: "";
    position: absolute;
    top: 2px;
    left: -65px;
    width: 22px;
    height: 22px;
    background-color: #62d1ba;
    border-radius: 50%;
  }

  .form__heading--type {
    margin-right: 210px;
  }

  .filters__list--type {
    margin-top: -10px;
  }
}


@media (min-width: $desktop-width) {
  .form__heading--type {
    margin-right: 158px;
  }

  .type__wrapper {
    padding-left: 112px;
  }
}
