.modal {
  position: absolute;
  top: 1046px;

  width: 320px;

  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  border: solid 1px #c6c6c6;

  background-color: #c6c6c6;
  z-index: 20;
}

.modal-hidden {
  display: none;
}

.modal__heading {
  margin-top: 36px;
  margin-bottom: 25px;

  text-align: center;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
}

.modal__subheading {
  margin-bottom: 28px;

  text-align: center;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.modal__list {
  width: 260px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 31px;
}

.modal__item-indicator {
  padding: 20px 34px;
  border: 2px solid #f1f1f1;

  text-transform: uppercase;

  &:hover {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }

  &:active {
    border: 2px solid #63d1bb;
  }
}

.modal__item-size input[type="radio"]:checked + .modal__item-indicator {
  border: 2px solid #63d1bb;
}

.modal__submit {
  width: 260px;
  margin-left: 30px;
  margin-bottom: 46px;
  padding: 20px 83px 16px 82px;

  text-transform: uppercase;
  color: #ffffff;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;

  background-color: #63d1bb;
  border: none;
}

@media (min-width: $tablet-width) {
  .modal {
    position: absolute;
    top: 1532px;
    width: 566px;
    margin-left: 103px;
  }

  .modal__heading {
    margin-top: 51px;
    margin-bottom: 32px;

    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 57px;
  }

  .modal__subheading {
    margin-bottom: 26px;

    text-align: center;
    font-size: 17px;
    line-height: 30px;
  }

  .modal__list {
    width: 350px;
  }

  .modal__item-indicator {
    padding: 20px 48px;
  }

  .modal__submit {
    width: 350px;
    margin-left: 108px;
    margin-bottom: 46px;
    padding: 20px 128px 16px 127px;

    text-transform: uppercase;
    color: #ffffff;
    font-size: 17px;
    line-height: 16px;
    font-weight: bold;

    background-color: #63d1bb;
  }
}

@media (min-width: $desktop-width) {
  .modal {
    position: absolute;
    top: 1114px;
    left: 50%;
    width: 566px;
    margin-left: -283px;
  }
}
