.extra__heading {
  margin-bottom: 25px;
}

.extra__wishes {
  width: 260px;
  padding-top: 18px;
  padding-left: 17px;
  border: 1px solid #323232;

  &:hover {
    border: 1px solid #62d1ba;
  }

  &:focus {
    border: 1px solid #62d1ba;
  }
}

.extra__info {
  margin-bottom: 26px;
}

.extra__info-text {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;

  color: #444444;
}

.form__submit {
  margin-bottom: 55px;
  font-weight: bold;
}

.form__submit--link {
  padding: 15px 43px 14px 44px;

  font-size: 17px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .extra__wrapper {
    display: flex;
    margin-bottom: 42px;
  }

  .extra__heading {
    margin-right: 128px;
  }

  .extra__item {
    margin-top: -18px;
  }

  .extra__wishes {
    width: 500px;
    padding-top: 15px;
    padding-bottom: 18px;

    font-size: 19px;
    line-height: 18px;
  }

  .extra__user {
    display: flex;
    justify-content: space-between;
  }

  .extra__info {
    order: 1;
  }

  .extra__info-text {
    font-size: 17px;
    line-height: 30px;
  }

  .form__submit {
    margin-bottom: 50px;
  }

  .form__submit--link {
    padding: 15px 28px;
    border: 2px solid #444444;
  }
}


@media (min-width: $desktop-width) {
  .extra__wrapper {
    margin-bottom: 38px;
  }

  .extra__heading {
    margin-right: 74px;
    margin-left: 63px;
  }

  .extra__wishes {
    width: 700px;
  }

  .extra__user {
    padding-left: 38px;
    width: 775px;
  }

  .form__submit {
    margin-bottom: 56px;
  }
}
