.info__personal {
  margin-bottom: 24px;
}

.info__personal-heading {
  margin-bottom: 19px;
}

.info__personal-item--name {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.info__personal-item--field {
  margin-top: -10px;
  margin-bottom: 7px;
}

.input__field--surname {
  margin-bottom: 11px;
}

@media (min-width: $tablet-width) {
  .personal__wrapper {
    display: flex;
    padding-top: 44px;
  }

  .info__personal-heading {
    margin-right: 127px;
  }

  .info__personal-list {
    margin-top: -10px;

    font-size: 19px;
    line-height: 18px;
  }

  .info__personal-item {
    margin-bottom: 21px;
  }

  .info__personal-item--name {
    margin-right: 22px;

    font-size: 19px;
    line-height: 18px;
  }

  .input__field--name {
    width: 411px;
    padding-top: 16px;
    padding-bottom: 17px;
    padding-left: 18px;
  }

  .input__field--surname {
    width: 370px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
  }

  .input__field--patronimic {
    width: 368px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 17px;
  }
}

@media (min-width: $desktop-width) {
  .info__personal-heading {
    padding-left: 62px;
    margin-right: 75px;
  }

  .input__field--name {
    width: 626px;
    padding-top: 16px;
    padding-bottom: 17px;
    padding-left: 18px;
  }

  .input__field--surname {
    width: 576px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
  }

  .input__field--patronimic {
    width: 575px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 17px;
  }
}
