.form__item--type {
  margin-bottom: 45px;
}

.form__heading--type {
  margin-bottom: 38px;
}

.filters-type {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.filters-type__radio {
  position: relative;
}

.radio-indicator {

    &::before {
    content: "";
    position: absolute;
    left: -50px;
    top: -5px;
    width: 26px;
    height: 26px;
    border: 2px solid black;
    border-radius: 50%;
  }
}

.filters-type__radio input[type="radio"]:checked + .radio-indicator::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -43px;
  width: 16px;
  height: 16px;
  background-color: #62d1ba;
  border-radius: 50%;
}



@media (min-width: $tablet-width) {
  .form__item--type {
    margin-bottom: 66px;
  }

  .type__wrapper {
    display: flex;
  }

  .form__heading--type {
    margin-right: 210px;
  }

  .filters__list--type {
    margin-top: -10px;
  }

}


@media (min-width: $desktop-width) {
  .form__heading--type {
    margin-right: 156px;
  }

}
