.page-footer{
  background-color: #f1f1f1;
}
.page-footer__social{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
  padding-top: 30px;

  list-style: none;
}
.social__item:first-child{
  padding-left: 87px;
}
.social__item:nth-child(2),
.social__item:nth-child(3n){
  padding-left: 41px;
  padding-bottom: 58px;
}
.developer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding-bottom: 23px;
}
.developer__text{
  padding-left: 70px;
  padding-right: 30px;

  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
}
