.page-footer {
  background-color: #f1f1f1;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo-image {
  display: none;
}

.page-footer__social {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  width: 148px;
}

.social__item {
  padding-right: 41px;
  &:nth-child(3n) {
  padding-right: 0;
  }
}

.social__link {
  &:hover path {
    fill: #46c1ae;
  }

  &:focus path {
    fill: rgba(70, 193, 174, 0.3);
  }
}

.developer__link {
  text-decoration: none;
}

.developer__text {
  margin-right: 30px;

  color: #323232;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .page-footer__logo-image {
    display: block;
    padding-top: 51px;
    padding-bottom: 58px;

    &:hover path {
      fill: #46c1ae;
    }

    &:active path {
      fill: rgba(70, 193, 174, 0.6);
    }
  }

  .page-footer__social {
    padding-top: 0;
    margin-left: 0;
  }

  .developer__link {
    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1150px;
    margin-left: 50px;
    margin-right: 50px;
  }
}
