.promo__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 34px 42px 8px 32px;
}

.promo h1,
.promo h2,
.promo p {
  margin: 0;
}

.promo__header {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.promo__subheader {
  padding-bottom: 30px;

  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
}

.promo__details {
  padding-bottom: 34px;

  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.promo__table {
  padding: 1px 30px 28px 30px;

  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
}

.promo__feature {
  padding-right: 30px;
}

.promo__table td {
  padding-top: 8px;
  padding-bottom: 8px;

  border-bottom: 1px solid grey;
}

.promo__value {
  padding-right: 33px;
}

.promo__picture {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 29px;
}

.promo__price {
  padding-bottom: 28px;

  font-size: 17px;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
  color: #444444;
}

.promo__button {
  padding: 20px 85px;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 76px;
}
