.reviews__wrapper {
  margin: 0 auto;
  margin-bottom: 95px;
}

.reviews__title--text {
  margin: 0;
  margin-bottom: 21px;

  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.reviews__item {
  margin: 0;
}

.reviews__item-text {
  margin: 0;
  margin-bottom: 20px;

  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-weight: normal;
}

.reviews__item-author {
  margin-bottom: 15px;
}

.reviews__item-author--name {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.reviews__item-nickname {
  font-size: 17px;
  line-height: 30px;
  color: #444444;
  font-weight: normal;
}

.reviews__buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
}

.reviews__button {
  padding: 26px 55px 26px 73px;
  margin-bottom: 42px;

  background: transparent;
  border: 1px solid #ececec;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__button--back {
  position: relative;

  &::after {
    content: "";
    position: absolute;

    width: 50px;
    height: 26px;

    top: 14px;
    left: 38px;

    background: url("../img/icon-left-arrow.svg");
    background-repeat: no-repeat;
  }
}

.reviews__button--forward {
  position: relative;

  &::after {
    content: "";
    position: absolute;

    width: 50px;
    height: 26px;

    top: 14px;
    left: 38px;

    background: url("../img/icon-right-arrow.svg");
    background-repeat: no-repeat;
  }
}

.reviews__submit--button {
  padding: 15px 81px;

  text-decoration: none;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
    margin: 0 auto;
    padding-top: 76px;
    margin-top: -30px;
    margin-bottom: 156px;

    background: url("../img/review@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-repeat: no-repeat;
      background-size: 350px auto;
    }
  }

  .reviews__title {
    order: 0;
    margin-right: 318px;
  }

  .reviews__title--text {
    margin-bottom: 45px;

    font-weight: bold;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__submit {
    margin-top: 5px;
  }

  .reviews__submit--button {
    order: 1;
    padding: 14px 35px 15px 41px;

    border: 2px solid #444444;
  }

  .reviews__item {
    order: 2;
  }

  .reviews__item-text {
    margin: 0;
    margin-bottom: 61px;
    width: 642px;

    font-size: 17px;
    line-height: 30px;
    color: #444444;
  }

  .reviews__item-author {
    display: flex;
    flex-direction: column;
  }

  .reviews__buttons {
    order: 3;
    margin-left: auto;
    margin-right: 13px;
    margin-top: -70px;
    margin-bottom: 0;
  }

  .reviews__button {
    padding: 26px 44px 26px 48px;

    border: none;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    margin-left: 50px;
    padding-bottom: 51px;
    margin-top: -30px;
    margin-bottom: 30px;
  }

  .reviews__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1150px;
    margin: 0 auto;
    padding-left: 172px;
    padding-top: 76px;
    margin-bottom: 196px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-repeat: no-repeat;
      background-size: 350px auto;
    }
  }

  .reviews__title {
    margin-right: 489px;
  }

  .reviews__title--text {
    font-weight: bold;
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__buttons {
    margin-right: 0;
    margin-left: 683px;
  }

  .reviews__item-text {
    margin-bottom: 40px;
    width: 800px;
  }

  .reviews__submit {
    margin-top: 12px;
  }
}
