body {
  margin: 0;
  padding: 0;
  min-width: 320px;

  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 38px;
  color: #000000;

  background-color: $primary-color;
}

.index-container,
.catalog-cantainer,
.form-container {
  margin: 0 auto;
  width: 260px;
}
.page-header__container,
.page-footer__container {
  margin: 0 auto;
}


@media (min-width: $tablet-width) {
  .index-container,
  .catalog-cantainer,
  .form-container,
  .page-header__container,
  .page-footer__container {
    width: 668px;
  }
}

@media (min-width: $desktop-width) {
  .index-container,
  .catalog-cantainer,
  .form-container,
  .page-header__container,
  .page-footer__container {
    width: 1050px;
  }
}
